.converter-form {
  width: 600px;
}

.converter-label {
  display: grid;
  grid-template-columns: 190px 1fr;
}

.converter-input {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 17px;
  padding: 2px 10px;
  outline: none;
}